.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffffce;
}

header {
  max-width: 50vw;
}

footer {
  margin-top: auto;
}

.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

p {
  margin: 5px;
}

a {
  color: #61dafbe1;
}

code {
  background-color: #3c3f45;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #3c3f45;
}

th {
  font-size: 12pt;
  padding-bottom: 2px;
}

td {
  padding: 2px 8px;
}

input[type=number] {
  width: 2em;
  padding-left: 0.5em;
  border-width: 1px;
  border-color: #0000007b;
  background: none;
  color: #ffffffce;
  font-size: calc(10px + 2vmin);
  text-align: center;
  vertical-align: middle;
}

button {
  border-radius: 4px;
  border-width: 1px;
  border-color: #0000007b;
  color: #ffffffce;
  font-size: 20pt;
  font-weight: bold;
  background-color: #3c3f45;
}

button:hover {
  background-color: #3c3f4579;
}