.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffffce;
}

header {
  max-width: 50vw;
}

footer {
  margin-top: auto;
}

.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

p {
  margin: 5px;
}

a {
  color: #61dafbe1;
}
table {
  border-collapse: collapse;
}

td {
  padding: 2px 8px;
}

tr:nth-child(even) {
  background-color: #3c3f45;
}

button {
  margin-top: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  border-width: 1px;
  color: #ffffffce;
  border-color: #0000007b;
  background-color: #3c3f45;
  font-size: calc(10px + 2vmin);
}

button:hover {
  background-color: #3c3f4579;
}

code {
  background-color: #3c3f45;
}